<!-- About Section -->
    <section id="roadmap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Roadmap</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/doplr.png" alt="doplr">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{site.data["roadmap"][1]}}</h4>
                                    <h4 class="subheading">{{site.data["roadmap"][2]}}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ site.data["roadmap"][3]}} <a href="https://docs.google.com/forms/d/e/1FAIpQLSewqZl1JfplzvrnRq-62Qp_IPPFTFP0PXoMAe3BAE7drCLNDg/viewform">{{ site.data["roadmap"][4]}}</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/doplr.png" alt="doplr">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{site.data["roadmap"][5]}}</h4>
                                    <h4 class="subheading">{{site.data["roadmap"][2]}}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ site.data["roadmap"][6]}} <a href="https://t.me/DoplrCoin">{{ site.data["roadmap"][7]}}</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/doplr.png" alt="doplr">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{site.data["roadmap"][8]}}</h4>
                                    <h4 class="subheading">{{site.data["roadmap"][9]}}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{site.data["roadmap"][10]}}</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/doplr.png" alt="doplr">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{site.data["roadmap"][11]}}</h4>
                                    <h4 class="subheading">{{site.data["roadmap"][9]}}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{site.data["roadmap"][12]}}</p>
                                </div>
                            </div>
                        </li>
                         <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/doplr.png" alt="doplr">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{site.data["roadmap"][13]}}</h4>
                                    <h4 class="subheading">{{site.data["roadmap"][14]}}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{site.data["roadmap"][15]}}</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/doplr.png" alt="doplr">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{site.data["roadmap"][16]}}</h4>
                                    <h4 class="subheading">{{site.data["roadmap"][14]}}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{site.data["roadmap"][17]}}</p>
                                </div>
                            </div>
                        </li>
                         <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/doplr.png" alt="doplr">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{site.data["roadmap"][18]}}</h4>
                                    <h4 class="subheading">{{site.data["roadmap"][14]}}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{site.data["roadmap"][19]}}</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/doplr.png" alt="doplr">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{site.data["roadmap"][20]}}</h4>
                                    <h4 class="subheading">{{site.data["roadmap"][21]}}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{site.data["roadmap"][22]}}</p>
                                </div>
                            </div>
                        </li>
                         <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/doplr.png" alt="doplr">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{site.data["roadmap"][21]}}</h4>
                                    <h4 class="subheading">{{site.data["roadmap"][22]}}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{site.data["roadmap"][23]}}</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/moon.png" alt="Future">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
